@import url('https://fonts.googleapis.com/css?family=Lato:100,300,900');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    position: fixed;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

.logo {
    color: #111116;
    font-weight: 300;
    position: absolute;
    top: -10px;
    left: 20px;
    display: inline-block;
}

.logo span {
    font-weight: 900;
    background: -webkit-linear-gradient(90deg, #18AA70, #52FFBA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    color: #000;
    font-weight: 300;
    position: absolute;
    top: -13px;
    right: 10px;
    display: inline-block;
    cursor: pointer;
    padding: 0px 8px 4px 8px;
    transition: all 0.2s linear;
}

.menu:hover, .menu:focus {
    color: #52FFBA;
}

.menu span {
    position: relative;
    font-size: 46px;
    top: 6px;
}

.banner {
    position: absolute;
    height: 400px;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom: 15px solid #eee;
}

.banner-img {
    background-image: url('img/ecomodel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    filter: brightness(40%);
    position: absolute;
}

.title {
    font-size: 72px;
    width: 300px;
    color: #fff;
    font-weight: 300;
    margin: 90px auto 40px auto;
    border: 0px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, transparent 0%, #fff 50%, transparent 100%);
    border-image-slice: 1;
    padding-bottom: 30px;
}

.title span {
    font-weight: 900;
    background: -webkit-linear-gradient(90deg, #18AA70, #52FFBA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner p {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    max-width: 600px;
    margin: 0 auto;
    line-height: 32px;
}

.content {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 465px;
    border-bottom: 15px solid #111116;
    padding-bottom: 80px;
}

.content-img-container {
    width: 200px;
    height: 200px;
    background: -webkit-linear-gradient(90deg, #18AA70, #52FFBA);
    float: left;
    margin-right: 20px;
    position: relative;
    top: 4px;
}

.content-img {
    filter: invert(100%);
    height: 100px;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-title {
    margin: 0px auto 20px auto;
    font-size: 24px;
    padding: 0 10px;
    color: #555;
    transition: all 0.2s linear;
}

.content-title:hover {
    color: #52FFBA;
}

.content-info {
    margin: 0 auto;
    line-height: 32px;
    font-weight: 300;
    padding: 0 10px;
    text-align: justify;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
}

.grid-item {
    max-width: 500px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 0 auto;
}